<!DOCTYPE html>
<html>
    <head>
        <title>Curriculum Vitae</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Lora&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1 th:text="${who.name + ' ' + who.surname}"></h1>
            <h3 th:text="'Idade: ' + ${who.age}"></h3>
            <h3 th:text="'Nascimento: ' + ${who.birth}"></h3>
            <h3 th:text="'Telefone celular: ' + ${who.num}"></h3>
            <h3 th:text="'Linkedin: ' + ${who.linkedin}"></h3>
            <h3 th:text="'Github: ' + ${who.github}"></h3>
            
            <br><h2>Conhhecimentos</h2>
            <th:block th:each="skill : ${who.skills}">
                <h3 th:text="${skill}"></h3>
            </th:block>
            
            <br><h2>Experiência profissional</h2>
            <th:block th:each="exp : ${who.experiences}">
                <h3 th:text="${exp}"></h3>
            </th:block>
            
            <br><h2>Formação</h2>
            <th:block th:each="school : ${who.schools}">
                <h3 th:text="${school}"></h3>
            </th:block>
            
            <br><h2>Idiomas</h2>
            <th:block th:each="idiome : ${who.idiomes}">
                <h3 th:text="${idiome}"></h3>
            </th:block>
            
        </div>
    </body>
</html>
